node_modules/
Talent.Services.Identity/bin
Talent.Services.Listing/bin
Talent.Services.Profile/bin
Talent.Common/bin
Talent.Api/bin
App/Talent.App.WebApp/bin

Talent.Services.Identity/obj
Talent.Services.Listing/obj
Talent.Services.Profile/obj
Talent.Common/obj
Talent.Api/obj
App/Talent.App.WebApp/obj

App/Talent.App.WebApp/wwwroot/js/react/dist

.vs/Talent/config/applicationhost.config
.vs/Talent/DesignTimeBuild/.dtbcache.v2
.vs/Talent/FileContentIndex/*.vsidx
.vs/Talent/v17/.futdcache.v2
.vs/Talent/v17/.suo
.vs/Talent/v17/DocumentLayout.backup.json
.vs/Talent/v17/DocumentLayout.json

**/*appsettings*.json